@import "responsive/menu.css";
@import "responsive/display.css";

/*
  <link rel="stylesheet" type="text/css" href="../style/main.css" /> */

html {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
    background-color: rgb(240, 240, 240);
    min-height: 100%;
    margin: 0;
}

a {
    color: #998A29;
    text-decoration: none;
}

a:hover {
    color: #6BCDFF;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #40392B;
}

/* HEADER */

header {
    text-align: center;
}

header h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/*  NAVBAR */

nav {
    border-right: 1px solid #40392B;
    background-image: linear-gradient( to bottom right, #BFAA80, #FFE3AB);
    box-shadow: inset 0 0 10px #40392B;
}

nav h1, nav h2, nav h3, nav h4, nav h5, nav h6 {
    padding: 0.5em;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

nav li p {
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    padding: 0.5em;
}

nav li a:hover {
    text-decoration: none;
    background-color: #40392B;
}

/* MAIN */

#main {
    background-color: rgb(250, 250, 250);
    padding: 1em;
    text-align: justify;
}

/* TABLE */

table {
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

table td, table th {
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

td:first-child {
    background-color: #40392B;
    color: white;
}

table th {
    text-align: left;
    background-color: #40392B;
    color: white;
}

/* IMAGES */

img {
    width: 100%;
}

figcaption {
    font-style: italic;
}