body {
    display: grid;
}

header {
    grid-area: header;
}

nav {
    grid-area: navbar;
}

#main {
    grid-area: main;
}

/* SMALL SCREEN */

@media only screen and (max-width: 600px) {
    body {
        grid-template-areas: "header" "navbar" "main";
        grid-template-columns: 100%;
    }
}

/* BIG SCREEN */

@media only screen and (min-width: 600px) {
    body {
        grid-template-areas: "header header header" "navbar main sidebar";
        grid-template-columns: 25% 60% 15%;
        grid-template-rows: auto 1fr auto;
    }
}