
/* TOGGLE MENU */

@media only screen and (max-width: 600px) {
    #label-menu {
        padding: 10px;
        cursor: pointer;
        font-size: 3em;
        user-select: none;
    }
    #rotator {
        padding: 10px;
    }
    #rotator:hover {
        background-color: #40392B;
        color: #6BCDFF;
    }
    #menu-toggle+#label-menu+#menu-to-display {
        display: none;
    }
    #menu-toggle:checked+#label-menu+#menu-to-display {
        display: inline-grid;
    }
    #menu-toggle+#label-menu {
        transform: rotate(0deg);
        display: inline-block;
    }
    #menu-toggle:checked+#label-menu {
        transform: rotate(90deg);
        transform-origin: 35px;
        display: inline-block;
    }
}

@media only screen and (min-width: 600px) {
    #label-menu {
        display:none;
    }
}